/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: #112B3C;
}


.firstcontainer{
    background-color: #764AF1;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 50px;
    
}
.qoute{
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}
.span{
    display: flex;
    justify-content: flex-end;

}

.aboutme{
    margin: 20px 20px 20px;

}
ul{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.secondcontainer{
    background-color: #9772FB;
    margin: 50px 50px;
    display: flex;
    padding: 40px;

}
#para-img{
   
    margin: 50px 50px;
    display: flex;
    justify-content: flex-end;
    order: 3;
 }
 .all-para{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-indent: 5em;

 }
.footer{
    background-color: #F32424;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}